<%- include('partials/mainHeader') %>
<link rel="stylesheet" href="vacationpackage.css">
<h1 align="center">Vacation Packages</h1></br>
<div class="img1" align="center">
    <img src="11maldives.png">
    <img src="11lasvegas.png">
    <img src="11spain.png">
    <img src="11japan.png">
    <img src="11hawaii.png">
</div>
</br>

<div class="padding1" align="center">
    <% for(var i=0; i < availablePackages.length; i++) { %>
        <div class="tile">
            <img src="bhutan.jpg" alt="hawaii">
            <p align="center" style="margin-bottom:-15px;"><%= availablePackages[i].PkgName %></p></br>
            <p style="font-size: 18px;"><%= availablePackages[i].PkgDesc %></br></br>Starts:<%= availablePackages[i].PkgStartDate.toDateString() %><br>Ends:<%= availablePackages[i].PkgEndDate.toDateString() %></br>
            $<%= availablePackages[i].PkgBasePrice %>
            <form method="post" action="/package">
                <input type="submit" name=<%= availablePackages[i].PackageId %> value="Add to Cart">
            </form>
        </div> 
    <% } %>
</div>
<%- include('partials/mainFooter') %>